
@{
    ViewBag.Title = "ProjectExperience";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="bhoechie-tab">
    <div class="bhoechie-tab-content active">
        <h2>Feedback</h2>
        <div class="panel panel-default">
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="title-right"></div>
                <div class="panel-title">Project Details</div>
            </div>
            <div class="panel-body overflowH">
                <div class="form-horizontal group-border hover-stripped formView">
                    <div class="form-group">
                        <div class="half-form-row">
                            <div class="col-md-6 col-sm-12">
                                <label class="control-label">Customer Name</label>
                                <div class="controls padri10">
                                    <div class="filledVlaue">
                                        Jason Sears
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label class="control-label">Site Address</label>
                                <div class="controls padri10">
                                    <div class="filledVlaue">
                                        3018 Prescott Street, Texas, United States, 77025
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="half-form-row">
                            <div class="col-md-6 col-sm-12">
                                <label class="control-label">Project Name</label>
                                <div class="controls padri10">
                                    <div class="filledVlaue">
                                        Vasam_TX_00250
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label class="control-label">Package Title</label>
                                <div class="controls padri10">
                                    <div class="filledVlaue">
                                        8KW Standard
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="half-form-row">
                            <div class="col-md-6 col-sm-12">
                                <label class="control-label">Project Cost($)</label>
                                <div class="controls padri10">
                                    <div class="filledVlaue">
                                        2765.00
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label class="control-label"></label>
                                <div class="controls padri10">
                                    <div class="filledVlaue">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="title-right"></div>
                <div class="panel-title">Installer Feedback</div>
            </div>
            <div class="panel-body overflowH">
                <div class="form-horizontal group-border hover-stripped formView">
                    <div class="form-group">
                        <div class="half-form-row">
                            <div class="col-md-6 col-sm-12">
                                <label class="control-label">Name</label>
                                <div class="controls padri10">
                                    <div class="filledVlaue">
                                        Green Ox Energy Solutions
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label class="control-label">
                                    Zip Code
                                </label>
                                <div class="controls padri10">
                                    <div class="filledVlaue">
                                        76179
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="half-form-row">
                            <div class="col-md-6 col-sm-12">

                                <label class="control-label">Email Address</label>
                                <div class="controls padri10">
                                    <div class="filledVlaue">
                                        sathvik@simplifysolar.com
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label class="control-label">City</label>
                                <div class="controls padri10">
                                    <div class="filledVlaue">
                                        Farmers Branch
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="half-form-row">
                            <div class="col-md-6 col-sm-12">
                                <label class="control-label">
                                    Country
                                </label>
                                <div class="controls padri10">
                                    <div class="filledVlaue">
                                        United States
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label class="control-label">State</label>
                                <div class="controls padri10">
                                    <div class="filledVlaue">
                                        Texas
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="half-form-row">
                            <div class="col-md-6 col-sm-12">
                                <label class="control-label">
                                    Phone No.
                                </label>
                                <div class="controls padri10">
                                    <div class="filledVlaue">
                                        888-928-8698
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="half-form-row">
                            <div class="col-md-6 col-sm-12">
                                <label class="control-label">
                                    Rate this Installer
                                </label>
                                <div class="controls padri10">
                                    <div class="filledVlaue">
                                        <div id="ctl00_Main_ratRatings" class="RadRating RadRating_Default" class="divRatings" style="float: left; margin-left: -5px;">
                                            <ul class="rrtHalf">
                                                <li><a title="1" href="#"><span>1</span></a></li>
                                                <li><a title="2" href="#"><span>2</span></a></li>
                                                <li><a title="3" href="#"><span>3</span></a></li>
                                                <li><a title="4" href="#"><span>4</span></a></li>
                                                <li><a title="5" href="#"><span>5</span></a></li>
                                            </ul><input id="ctl00_Main_ratRatings_ClientState" name="ctl00_Main_ratRatings_ClientState" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="half-form-row">
                            <div class="col-md-6 col-sm-12">
                                <label class="control-label">
                                    Project Mark As Completed<span id="ctl00_Main_star1" class="text-danger">&nbsp;*</span>
                                </label>
                                <div class="controls padri10">
                                    <div class="filledVlaue">
                                        <input id="ctl00_Main_chkmarkcomplited" type="checkbox" name="ctl00$Main$chkmarkcomplited" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label class="control-label">
                                </label>
                                <div class="controls padri10">
                                    <div class="filledVlaue">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="half-form-row">
                            <div class="col-md-12">
                                <label class="control-label">Feedback<span id="ctl00_Main_star" class="text-danger">&nbsp;*</span></label>
                                <div class="controls">
                                    <textarea name="ctl00$Main$txtComments" rows="2" cols="20" id="ctl00_Main_txtComments" class="form-control" onKeyUp="javascript:Check(this, 1000);" onChange="javascript:Check(this, 1000);"></textarea>
                                    <span id="ctl00_Main_starReq">
                                        <span id="ctl00_Main_regComments" class="callout marr47" style="display:none;">Required</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label class="control-label">
                                </label>
                                <div class="controls padri10">
                                    <div class="filledVlaue">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="title-right"></div>
                <div class="panel-title">Simplify Solar Feedback</div>
            </div>
            <div class="panel-body overflowH">
                <div class="form-horizontal group-border hover-stripped formView">
                    <div class="form-group">
                        <div class="half-form-row">
                            <div class="col-md-12">
                                <label class="control-label">Feedback<span id="ctl00_Main_starsimplify" class="text-danger">&nbsp;*</span></label>
                                <div class="controls">
                                    <textarea name="ctl00$Main$txtSimplifyComment" rows="2" cols="20" id="ctl00_Main_txtSimplifyComment" class="form-control" onKeyUp="javascript:Check(this, 1000);" onChange="javascript:Check(this, 1000);"></textarea>
                                    <span id="ctl00_Main_starsimplifyReq">
                                        <span id="ctl00_Main_regCommentssimplify" class="callout marr47" style="display:none;">Required</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label class="control-label"></label>
                                <div class="controls padri10">
                                    <div class="filledVlaue">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="steps-bts">
            <input type="submit" name="ctl00$Main$btnAdd" value="Submit" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$Main$btnAdd&quot;, &quot;&quot;, true, &quot;UserValidation&quot;, &quot;&quot;, false, false))" id="ctl00_Main_btnAdd" title="SUBMIT" class="btn btn-lg btn-success" />
            <a onclick="location.href = 'ProjectDetailView.aspx';" class="btn btn-lg btn-default" title="CLOSE" style="cursor: pointer;">Close</a>
        </div>

    </div>
</div>
        



