@{
    ViewBag.Title = "Home Page";
}

<div>
    <input name="ctl00$Main$hdnSearchAddressFull" id="ctl00_Main_hdnSearchAddressFull" />
    <input name="ctl00$Main$hdnSearchAddress1" id="ctl00_Main_hdnSearchAddress1" />
    <input name="ctl00$Main$hdnSearchAddress2" id="ctl00_Main_hdnSearchAddress2" />
    <input name="ctl00$Main$hdnSearchState" id="ctl00_Main_hdnSearchState" />
    <input name="ctl00$Main$hdnSearchcountry" id="ctl00_Main_hdnSearchcountry" />
    <input name="ctl00$Main$hdnSearchZipCode" id="ctl00_Main_hdnSearchZipCode" />
    <input name="ctl00$Main$hdnSearch1AddressFull" id="ctl00_Main_hdnSearch1AddressFull" />
    <input name="ctl00$Main$hdnSearch1Address1" id="ctl00_Main_hdnSearch1Address1" />
    <input name="ctl00$Main$hdnSearch1Address2" id="ctl00_Main_hdnSearch1Address2" />
    <input name="ctl00$Main$hdnSearch1State" id="ctl00_Main_hdnSearch1State" />
    <input name="ctl00$Main$hdnSearch1country" id="ctl00_Main_hdnSearch1country" />
    <input name="ctl00$Main$hdnSearch1ZipCode" id="ctl00_Main_hdnSearch1ZipCode" />

    <div class="clearfix">
        <!-- step1 -->
        <div class="banner">
            <div class="container">
                <div class="row">
                    <div class="bannertext">
                        Welcome to Simplify Solar<br />
                        <span>Solar just got a whole lot easier. </span>
                        <span>Register or Log In to get started</span>
                    </div>
                 
                    
                    
                    @*<div id="ctl00_Main_pnladdress1" onkeypress="javascript:return WebForm_FireDefaultButton(event)">
                        <div class="bannertextbox">
                            <div class="textboxmain">
                                <div class="textboxbann smallbox">
                                    <input id="autocomplete" onfocus="geolocate()" type="text" placeholder="Enter your home address to get started!" />
                                </div>
                                <table id="address" style="display: none;">
                                    <tr>
                                        <td class="label">Street address</td>
                                        <td class="slimField">
                                            <input class="field" id="street_number" disabled="true"></input>
                                        </td>
                                        <td class="wideField" colspan="2">
                                            <input class="field" id="route" disabled="true"></input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label">City</td>
                                        <td class="wideField" colspan="3">
                                            <input class="field" id="locality" disabled="true"></input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label">State</td>
                                        <td class="slimField">
                                            <input class="field"
                                                   id="administrative_area_level_1" disabled="true"></input>
                                        </td>
                                        <td class="label">Zip code</td>
                                        <td class="wideField">
                                            <input class="field" id="postal_code" disabled="true"></input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label">Country</td>
                                        <td class="wideField" colspan="3">
                                            <input class="field" id="country" disabled="true"></input>
                                        </td>
                                    </tr>
                                </table>
                                <input type="submit" name="ctl00$Main$btnGetStarted" value="Build My PV System" onclick="return FindAddress();" id="ctl00_Main_btnGetStarted" title="Build My PV System" class="getstartbtn" value="Get Started" onfocus="geolocate();" />
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="greenteckbg">
            <div class="container">
                <div class="row">
                    “A solar electric system will be installed every 83 seconds by the end of 2015.”<br>
                    <span>GreenTech Media</span>
                </div>
            </div>
        </div>
        <div class="whysolarmain">
            <div class="container">
                <div class="row">
                    <div class="whysolarinner">
                        <h2>Why Simplify Solar?</h2>
                        <p>We bring together the entire solar community on one powerful, easy to use platform. For homeowners, that means you get the best rates for solar products and installations. </p>
                    </div>
                </div>
            </div>
        </div>
    
             
       

       
        <div class="holdingbg">
            <div class="container">
                <div class="row">
                    <h3>What’s holding you back?</h3>
                    <p>You won’t believe how simple it really can be to start saving on your monthly bill and the environment. </p>
                   
                </div>
            </div>
        </div>
